<div>
    <img class="icon-small abs-tr" ng-click="createCard('event')" src="/img/icons/new.svg"/>
    <div class="card-min box" ng-repeat="ev in pageData.content.events.data" ng-if="ev">
        <div class="card-display">
            <h2 ng-click="toggleCard(ev._id)">{{ev.title}} <span class="text-light pad-left">{{ev.start | dateInMillis | date:'MMM d, y h:mm a'}}</span></h2>
            <div class="card-tools">
                <input id="fav-{{ev._id}}" class="fav" type="checkbox" ng-model="ev.featured" ng-click="updateCard('event', ev)"/>
                <label for="fav-{{ev._id}}" class="fav"></label>
                <img class="duplicate" src="/img/icons/dup.svg" ng-click="dupCard('event', ev)"/>
                <img class="delete" src="/img/icons/trash-1.svg" ng-click="deleteCard('event', ev, $index)"/>
                <img class="move" src="/img/icons/move.svg"/>
            </div>
        </div>
        <div class="card-edits" id="edits-{{ev._id}}">
            <div class="input-group">
                <span class="addon">Title</span>
                <input type="text" class="form-control addon" ng-model="ev.title" ng-blur="updateCard('event', ev)" placeholder="e.g. Live Music"/>
            </div>
            <div class="input-group">
                <span class="addon">Start</span>
                <input dp-load type="text" class="date-time-picker form-control form-50 addon" ng-model="ev.start" ng-blur="updateCard('event', ev)"/>
            </div>
            <div class="input-group">
                <span class="addon">End</span>
                <input dp-load type="text" class="date-time-picker form-control form-50 addon" ng-model="ev.end" ng-blur="updateCard('event', ev)"/>
            </div>
            <div class="input-group">
                <span class="addon">Description</span>
                <input type="text" class="form-control addon" ng-model="ev.description" ng-blur="updateCard('event', ev)" placeholder="e.g. Classic/alt rock music"/>
            </div>
            <div class="input-group">
                <span class="addon">URL</span>
                <input type="text" class="form-control addon" ng-model="ev.url" ng-blur="updateCard('event', ev)" placeholder="i.e. link to where event will direct"/>
            </div>
            <div class="input-group">
                <span class="addon">Image</span>
                <div class="img-addon" style="background-image: url('{{ev.img}}')"> </div>
                <input type="file" ngf-select accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFile" class="form-control addon" ng-model="ev.imgFile"/>
                <button ng-click="uploadImg(ev, 'event')">Submit</button>
            </div>
        </div>
    </div>
</div>