<div class="container" ng-init="initMenus()">
  <div id="ev-overlay" ng-click="clearOverlays()"></div>
  <div id="tag-settings">
    <img class="icon-small abs-tr" ng-click="newTag = true" src="/img/icons/new.svg"/>
    <h2>Menu Sections</h2>
    <div class="tag-setting-card tag-setting-create" style="overflow: auto" ng-if="newTag == true">
      <span class="glyphicon glyphicon-ok" ng-click="createMenuTag(newTagName, newTagHeader); $parent.newTag = false"></span>
      <input type="text" ng-model="newTagName" placeholder="Section title"/>
      <input type="text" ng-model="newTagHeader" placeholder="Header Image (url)"/>
    </div>
    <div class="tag-setting-card" ng-repeat="tagSetting in pageData.content[pageData.active.org.uniqname].items.uniqMenuTags" ng-if="$index > 0">
      <p style="margin-bottom: 10px;">{{tagSetting.name}} <span class="tag-add" ng-click="tagSetting.initSubmenu = true"></span><span class="tag-delete" ng-click="deleteTag(tagSetting)"></span></p>
      <p style="padding-left: 10px;"><span style="font-weight: bolder;">Header Image: </span><a href="tagSetting.header_img" style="text-decoration: none; line-height: 1.1em;" class="truncate">{{tagSetting.header_img}}</a></p>
      <p class="tag-submenu" ng-if="tagSetting.initSubmenu == true">+<input type="text" ng-model="tagSetting.initSubmenuText"/> <span class="glyphicon glyphicon-ok" ng-click="createTagSubmenu(tagSetting.initSubmenuText, tagSetting._id); $parent.tagSetting.initSubmenu = false"></span></p>
      <p class="tag-submenu" ng-repeat="submenu in tagSetting.submenus">+{{submenu}} <span class="tag-glyph glyphicon glyphicon-remove-circle" ng-click="removeSubmenu(submenu, tagSetting._id)"></span></p>
    </div>
  </div>
  <div id="init-card">
    <form ng-submit="createCard('item')">
      <div class="card-edits" style="display: block;" id="edits-init">
          <h2 style="padding: 10px 0; color: #555">Create New Menu Item</h2>
          <div class="card-edits" style="display: block;">
              <div class="input-group">
                  <span class="addon">Title</span>
                  <input type="text" class="form-control addon" ng-model="evInit.title" placeholder="e.g. Filet Mignon"/>
              </div>
              <div class="input-group">
                  <span class="addon">Description</span>
                  <input type="text" class="form-control addon" ng-model="evInit.description" placeholder="e.g. Center cut filet in a deep mushroom sauce"/>
              </div>
              <div class="input-group">
                  <span class="addon">Price</span>
                  <input type="text" class="form-control addon" ng-model="evInit.price" placeholder="e.g. $20.00"/>
              </div>
              <div class="input-group">
                  <span class="addon">Main Sections</span>
                  <input type="text" class="form-control addon" ng-model="evInit.tags" placeholder="e.g. Lunch, Dinner, etc."/>
              </div>
              <div class="input-group">
                  <span class="addon">Subsection</span>
                  <input type="text" class="form-control addon" ng-model="evInit.subsection" placeholder="e.g. appetizers, kids menu, etc."/>
              </div>
          </div>
      </div>
      <button type="submit" class="modal-save">Save</button>
    </form>
  </div>
  <div id="top-nav-items">
    <div class="sort-box" style="float: left; margin-top: 10px; padding-right: 10px;">
      <p>Section: </p>
      <select ng-change="updateItemCardFilter(itemSelectionKey)" ng-options="selectionKey.name for selectionKey in pageData.content[pageData.active.org.uniqname].items.uniqMenuTags track by selectionKey.name" ng-model="itemSelectionKey">
        <option value="all">all</option>
      </select>
    </div>
    <img class="tag-setting" ng-click="displayTagSettings()" src="/img/icons/settings.svg"/>
    <!-- <div class="tag-nav box">
        <div class="tag-container" ng-repeat="tag in pageData.content[pageData.active.org.uniqname].items.uniqMenuTags" ng-class="{active: tag.active}">
            <p ng-click="toggleTag(tag)">{{tag.name}}</p>
            <img class="tag-setting" ng-click="pageData.active.tag = tag" src="/img/icons/settings.svg" ng-src="{{tag.active?'/img/icons/settings.svg':'/img/icons/settings-inactive.svg'}}"/>
        </div>
    </div> -->
    <img class="icon-small abs-tr" ng-click="initCreateCard('item')" src="/img/icons/new.svg"/>
  </div>
    <ul class="container" style="padding: 20px 0">
        <li style="margin-bottom: 10px" ng-class="{'selected': models.selected === item, 'new-card': item.newCard}" class="card-min box"
            ng-repeat="item in pageData.content[pageData.active.org.uniqname].items.data | filter:tagShown">
            <h2 ng-click="toggleCard(item._id)">{{item.title}} <span class="text-light pad-left text-small">({{item.price}})</span></h2>
            <div class="card-tools">
                <img class="duplicate" src="/img/icons/dup.svg" ng-click="dupCard('item', item)"/>
                <img class="delete" src="/img/icons/trash-1.svg" ng-click="deleteCard('item', item, $index)"/>
                <!-- <img class="move" src="/img/icons/move.svg"/> -->
            </div>
            <div class="card-edits" id="edits-{{item._id}}" ng-init="initPickers()">
                <div class="input-group">
                    <span class="addon">Title</span>
                    <input type="text" class="form-control addon" ng-model="item.title" ng-blur="updateCard('item', item)" placeholder="e.g. Filet Mignon"/>
                </div>
                <div class="input-group">
                    <span class="addon">Description</span>
                    <input type="text" class="form-control addon" ng-model="item.description" ng-blur="updateCard('item', item)" placeholder="e.g. Center cut filet in a deep mushroom sauce"/>
                </div>
                <div class="input-group">
                    <span class="addon">Price</span>
                    <input type="text" class="form-control addon" ng-model="item.price" ng-blur="updateCard('item', item)"/>
                </div>
                <div class="input-group">
                    <span class="addon">Main Sections</span>
                    <input type="text" class="form-control addon" ng-model="item.tags" ng-blur="updateCard('item', item)" placeholder="e.g. Lunch, Dinner, etc."/>
                </div>
                <div class="input-group">
                    <span class="addon">Subsection</span>
                    <input type="text" class="form-control addon" ng-model="item.subsection" ng-blur="updateCard('item', item)" placeholder="e.g. appetizers, kids menu"/>
                </div>
            </div>
        </li>
    </ul>
</div>
