* {
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
li {
    list-style-type: none !important;
}
.panel {
    background-color: #ddd;
    border-radius: 10px;
    padding: 30px;
}
.small {
    width: 30%;
}
.small-h {
    height: 30px;
}
.lh-small {
    line-height: 30px;
}
.br-left {
    margin-left: 10px;
}
.block-center {
    display: block;
    margin: auto;
}
.top-20 {
    margin-top: 20vh;
}
.top-10 {
    margin-top: 10vh;
}
.circle {
    border-radius: 50%;
}
input.form-50 {
    float: left;
    width: 50%;
}
button.btn {
    margin-top:20px;
    padding:10px 40px;
    cursor: pointer;
    border: none;
}
button.btn-primary {
    background-color: #5dc2f1;
    color: #fff;
}
button.btn-err {
    background-color: #f1605d;
    color: #fff;
}
button.btn-round {
    border-radius: 5px;
}
.left {
    float: left;
}
.header-info {
    overflow: auto;
    padding: 10px;
}
.header-info h2 {
    line-height: calc(1em + 10px);
}
.header-info button.btn {
    margin: 0;
}
.container {
    padding: 1px;
    margin-top: -1px;
}
.login-container {
    background-color: #87BFDE;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: calc(100vh - 2px);
}
.logo-container {
    background-color: rgba(255, 255, 255, 0.8);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10vh auto 5vh auto;
}
.logo {
    width:100%;
    height:100%;
    padding-top: 10px;
    background-image: url("/img/logos/telegram-logo-black-text.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.user-info-top {
    overflow: auto;
    padding: 20px;
}
.right {
    float: right;
}

.tall-col {
    min-height: 100vh;
}
.col-1.hard {
    width: 8.3%;
    float: left;
}
.col-2.hard {
    width: 16.67%;
    float: left;
}
.col-9.hard {
    width: 75%;
    float: left;
}

.side-nav {
    margin-left: -30%;
    width: 30%;
    float: left;
    -webkit-transition: margin-left 0.5s;
    -moz-transition: margin-left 0.5s;
    -ms-transition: margin-left 0.5s;
    -o-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
}
.pane-body {
    width: 100%;
    float: left;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
}

.desktop-item {
    display: none;
}

.hide {
    display: none;
}

.dark {
    background-color: #111;
}
.dark-grey {
    background-color: #444;
}
.grey {
    background-color: #ccc;
}
.light-grey {
    background-color: #eee;
}
.white {
    background-color: #fff;
}
.inner-shadow {
    -webkit-box-shadow: inset 0px 0px 5px 5px #000;
    -moz-box-shadow: inset 0px 0px 5px 5px #000;
    box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,0.15);
}

.text-light {
    font-weight: 100;
}
.fill-width {
    width: 100%;
}
.pad-small {
    padding: 10px;
}
.pad-med {
    padding: 20px;
}
.pad-left {
    padding-left: 5px;
}
.text-small {
    font-size: 0.8em;
}
.box {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.point {
    cursor: pointer;
}
.up {
    text-transform: uppercase;
}
.cap {
    text-transform: capitalize;
}

.org-icon {
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin: 20px auto;
    background-color: #ea7d7d;
    padding: 0 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.org-icon p {
    color: #fff;
    line-height: 70px;
    text-align: center;
    font-size: 3em;
}
.org-info p:first-child {
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bold;
}
.org-info p:nth-child(2) {
    margin: 5px 0 0 20px;
    font-size: 0.8em;
    line-height: 12px;
}
.org-info p:nth-child(2)::before {
    content: '';
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #A5DC86;
    margin-right: 5px;
}
.org-info {
    padding-bottom: 20px;
}

.service-tab:hover {
    background-color: #ccc;
}
.card-min {
    width: 100%;
    min-height:50px;
    border-radius: 5px;
    background-color: #eee;
    padding: 10px 20px;
    cursor: pointer;
    overflow: auto;
    margin-bottom: 10px;
}
.card-min h2 {
    font-size: 1em;
    line-height: 30px;
    float: left;
}
.card-tools {
    float: right;
}
.card-edits {
    padding: 20px 10px;
    float: left;
    width: 100%;
    display: none;
}

span.addon:last-child, input.addon:last-child {
    border-radius: 0 2px 2px 0
}
span.addon:first-child, input.addon:first-child {
    border-radius: 2px 0 0 2px
}
span.addon {
    background-color: hsla(31, 15%, 50%, .1);
    color: #666;
    font: inherit;
    font-weight: 400;
    width: 80px;
    text-align: center;
    border: 1px solid hsla(31, 15%, 50%, .25);
    padding: 10px
}
span.addon-wide {
    width: 120px;
}
input.addon:not(:first-child) {
    border-left: 0
}

input.addon:not(:last-child) {
    border-right: 0
}
input.addon {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}
.img-addon {
    background-image: url("/img/icons/unknown.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 10px;
    min-width: 40px;
}
.input-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}
input.form-control {
    border-radius: 5px;
    width: 100%;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid hsla(31, 15%, 50%, .25);
}
input.form-modern {
    background-color: rgba();
}

.card-tools img {
    float: left;
    height: 20px;
    margin-top: 5px;
    margin-right: 10px;
}
label.fav {
    display: block;
    background-image: url("/img/icons/fav.svg");
    width: 20px;
    height: 20px;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
}
input.fav:checked + label.fav {
    background-image: url("/img/icons/fav-active.svg");
}
input.fav {
    display: none;
}

.tag-nav {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.tag-container {
    overflow: auto;
    float: left;
    padding: 10px;
    padding-right: calc(20px + 1em);
    line-height: 1em;
    color: #fff;
    background-color: #c4caf3;
    border-radius: 5px;
    margin-right: 10px;
}
.tag-container p {
    float: left;
    cursor: pointer;
}
.tag-setting {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    float: left;
    background-image: url('/img/icons/settings.svg');
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
    z-index: 999999;
    cursor: pointer;
}
.active {
    background-color: #6d9aff;
}
.split-panel {
    width: calc(50% - 7.5px);
    float: left;
}
.split-panel:nth-child(2n + 1) {
    margin-right: 15px;
}

.icon-small {
    width: 40px;
    height: 40px;
    float: right;
    margin-bottom:20px;
    cursor: pointer;
}

.dndDraggingSource {
    display: none;
}
ul {
    padding: 20px 0;
}

.hamburger {
    width: 50px;
    height: 50px;
    float: left;
    padding: 0;
    outline: none;
    background-color: transparent !important;
    -webkit-transition: margin-left 0.5s;
    -moz-transition: margin-left 0.5s;
    -ms-transition: margin-left 0.5s;
    -o-transition: margin-left 0.5s;
    transition: margin-left 0.5s;
}
.nav-active {
    margin-left: 0;
}
.body-active {
    width: 70%;
}

input.form-modern {
    background-color: rgba(240,240,240,0.6);
    transition: background-color 1s, border-bottom-color 0.5s;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    padding: 20px;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 1.25em;
}
.login-container input:focus {
    outline: none;
    background-color: rgba(240,240,240,0.8);
    border-bottom-color: #2e98f1;
    color: #111;
}
.login-container input:not(:first-child) {
    margin-top: 20px;
}
.login-container button {
    width: 100% !important;
    background-color: #337ab7 !important;
    opacity: 1 !important;
    padding: 10px !important;
    margin-left: 0 !important;
    margin-top: 40px !important;
    border: none !important;
}
.service-msg {
    width: 60%;
    margin: 5vh auto;
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
}

.form-group {
    padding: 20px;
    margin-left: 10px;
    border-radius: 10px;
}

.overlay {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
}
.modal-panel {
    position: fixed;
    z-index: 1;
    top: 20vh;
    width: 60%;
    margin: 0 auto;
    display: block;
    padding: 20px;
    background-color: #eee;
}
.modal-panel span.addon {
    width: 120px;
}
.show-block {
  display: block !important;
}
.slide-block {
  margin-left: 0 !important;
}
.full-width {
  width: 83.3%;
}
#ent-nav {
  margin-left: -8.3%;
  -webkit-transition: margin-left 0.5s;
  -moz-transition: margin-left 0.5s;
  -ms-transition: margin-left 0.5s;
  -o-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}
#activeOrgTitle {
  cursor: pointer;
}

#init-card, #tag-settings {
  width: 60%;
  background-color: #eee;
  color: #111;
  position: absolute;
  top: 80px;
  right: 11.5%;
  padding: 40px;
  box-shadow: 0 0 10px #555;
  border-radius: 10px;
  display: none;
}
.modal-save {
  border: none;
  background-color: #aaa;
  color: #fff;
  padding: 10px;
  width: 40%;
  display: block;
  margin: 10px auto;
}
#ev-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  display: none;
}
.search-bar {
  width: 200px !important;
  border: 1px solid #ddd;
  padding: 10px;
}
.search-group {
  float: left;
}
.search-group .addon {
  padding: 0;
}
.addon button {
  border: none;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  cursor: pointer;
}
.sort-box {
  float: right;
  padding-right: 20px;
  padding-top: 5px;
}
.sort-box p {
  float: left;
  font-weight: bolder;
  padding-right: 10px;
  line-height: 30px;
}
.sort-box select {
  height: 30px;
}
#top-nav-items {
  overflow: auto;
}
.tag-setting-card {
  padding: 10px;
  margin: 10px;
  background-color: #ddd;
  display: block;
  width: 80%;
  border-radius: 5px;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.tag-setting-create {
  position: relative;
}
.tag-setting-create input {
  border: none;
  display: block;
  margin-bottom: 5px;
}
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.tag-setting-create span {
  display: block;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.tag-delete {
  float: right;
  width: 20px;
  height: 20px;
  background-image: url("/img/icons/trash.svg");
  background-size: 20px;
  cursor: pointer;
}
.tag-add {
  float: right;
  width: 20px;
  height: 20px;
  background-image: url("/img/icons/new.svg");
  background-size: 20px;
  cursor: pointer;
}
.tag-glyph {
  float: right;
  font-size: 15px;
  cursor: pointer;
}
.tag-submenu {
  padding-left: 20px;
}
@keyframes newCardAnimation {
    from {background-color: rgb(254,255,174);}
    to {background-color: #eee;}
}
.new-card {
  animation-name: newCardAnimation;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0,1,1,1);
}

@media (min-width: 992px) {

    .col-1 {
        width: 8.3%;
        float: left;
        display: block;
    }
    .col-2 {
        width: 16.67%;
        float: left;
        display: block;
    }
    .col-9 {
        width: 75% !important;
        float: left;
        display: block;
    }
    .col-10 {
        width: 83.3% !important;
        float: left;
        display: block;
    }
    .side-nav {
        margin-left: initial;
    }
    .mobile-item {
        display: none;
    }
}
